<!DOCTYPE html>
<html>
<head>
    <title>Check Device</title>
</head>
<body>
    <h1>Check Your Device</h1>
    <p>Device information will be displayed here.</p>
    <a href="/">Back to Home</a>
</body>
</html>
